# Entorno virtual
modulo07/
venv/
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Archivos del sistema
.DS_Store
*.log

# Archivos de editor
.vscode/
.idea/

# Carpeta de migraciones si quieres (opcional)
# **/migrations/*.pyc
# **/migrations/__pycache__/
