{% extends 'base.html' %}

{% block content %}
 
    <div class="container d-flex  mt-5">
        <form method="GET" class="d-flex mb-5">
          {{ form }}
        </form>

        <table class="table table-bordered table-striped ms-5">
          <thead>
            <tr>
              <th class="sup"  scope="col">
                <div class="text-center ">Titulo</div>
                
              </th>
              <th class="sup" scope="col">
                <div class="text-center">Plataforma</div>
                
              </th>
              <th class="sup" scope="col">
                <div class="text-center">Género</div>
                
              </th>
            </tr>
          </thead>
          <tbody>
            {% for juego in juegos %}
            <tr>
                <td>{{ juego.titulo }}</td>
                <td>{{ juego.plataforma }}</td>
                <td>{{ juego.genero }}</td>
                <td>
                    <a href="{% url 'arrendar' juego.id  %}" class="btn btn-info">Arrendar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      
      </div>
      
{% endblock %}
